header
{
    background-color: #f6f7fc;
    padding: 15px 15px 80px 15px;
   
    
}
header .dropdown
{
    position: relative;
    z-index: 1;
    
}

header .dropdown::after
{
    content: '▼';
    position: absolute;
    right: 13px;
    top: 12px;
    padding-left:  30px;
    z-index: 1;
}
header select:focus
{
    /* border: rgb(0, 0, 0); */
    box-shadow: none;
    
}
header select
{
    box-shadow: none;
    padding: 10px 40px 10px 10px;
    width: 100%;
    z-index: 555;
   
}
header select 
{
    font-size: 15px;
}
header .division,.grades,.classes
{
    width: 15%;
}
header label
{
    font-weight: 500;
}
header button
{
    background-color: #0c3f57;
    color: white;
    box-shadow:0 8px 10px 0px rgba(1, 23, 13, 0.2);
}



/* **************************************************************** */
.publish button
{
    background-color: #384875;
    color: white;
    font-size: 18px;
    box-shadow:0 4px 8px 0px rgb(44, 43, 43);
}

.publish button:hover
{
    border: 1px solid #384875;
}

.btns button
{
    background-color: gray;
    color: white;
    font-size: 10px;
    padding: 5px ;
    margin: 4px;
    border: none;
    border-radius: 10%;
}

.entries label,select,span
{
    font-size: 11px;
}
.entries select:focus
{
    box-shadow: none;
    border:1px solid gray;
}
.entries select
{
   
    border:1px solid gray;
}